body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #584b4f;
    color: #efdab9;
    font-family: "parse-grotesk-mono-regular", sans-serif;
}

* {
    box-sizing: border-box;
    color: #efdab9;
}

#container {
    width: 90%;
}

.form-control {
    border: none;
    background-color: #78af9f;
}

#filename {
    border-radius: 4px 0px 0px 4px;
}

.secbtn {
    border-color: #efdab9;
    background-color: #efdab9;
    font-family: "parse-grotesk-mono-bold", sans-serif;
    color: #78af9f;
}

.secbtn:hover {
    background-color: #78af9f;
    border-color: #efdab9;
    color: #584b4f;
    color: #efdab9;
    box-shadow: none !important;
}

h2 {
    text-align: center;
    font-family: "parse-grotesk-mono-bold", sans-serif;
}

h4 {
    text-align: center;
    font-family: "parse-grotesk-mono-bold", sans-serif;
}

h5 {
    font-size: 23px;
    font-family: "parse-grotesk-mono-bold", sans-serif;
}

.fstbtn {
    border-color: #efdab9;
    box-shadow: none !important;
    color: #efdab9;
}

.fstbtn:hover {
    background-color: #78af9f;
    border-color: #efdab9;
    color: #efdab9;
}

.card-body {
    background-color: #78af9f;
}

#text {
    color: #efdab9;
    display: block;
    width: 100%;
    /*resize: none;*/
    margin-bottom: 20px;
    height: 250px;
    padding: 10px;
    font-size: 18px;
    background-color: #78af9f;
    box-shadow: none;
}

#filename {
    color: #efdab9;
    font-size: 16px;
    background-color: #78af9f;
    box-shadow: none;
}

hr {
    background-color: #efdab9;
}

i {
    font-size: 12px;
}

p {
    font-size: 18px;
}

.footer a:hover {
    text-decoration: none;
    color: #efdab9;
}

.link {
    font-family: "parse-grotesk-mono-bold", sans-serif;
    color: #78af9f;
    text-decoration: none;
}

/*----------------------------------fonts----------------------------------*/

@font-face {
    font-family: "parse-grotesk-mono-thin";
    src: url(../font/parsegroteskmono_thin.otf) format("opentype");
}

@font-face {
    font-family: "parse-grotesk-mono-regular";
    src: url(../font/parsegroteskmono_regular.otf) format("opentype");
}

@font-face {
    font-family: "parse-grotesk-mono-bold";
    src: url(../font/parsegroteskmono_bold.otf) format("opentype");
}